:root {
    /*Colores*/
    --fuente-purple: #6C63FF;
    --button-purple-ligth: #BDB2FF;
    --text-button: #FFFFFF;
    --footer-grey: #ECEFF1;
    --texto-black: #000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    width: 100vw;
    height: 9rem;
}
.container-nav {
    font-size: 2rem;
    display: flex;
    background-color: white;
    float: right;
}
.logo {
    margin-left: 50px;
    width: 5rem;
    height: 5rem;
    float: left; 
}
.navbar li {
    list-style: none;
    display: inline-block;
}
.navbar li a {
    color: var(--texto-black);
    display: block;
    padding: 10px;
    text-decoration: none;
     
}
.navbar li a:hover {
    color: var(--fuente-purple);
    background-color: whitesmoke;
} 

/*Main Section*/
 main {
     width: 100vw;
     height: auto;
     background-color: white;
 }
 .main-section-container {
     width: 100%;
     height: auto;
     padding-top: 80px;
     padding-bottom: 30px;
     text-align: center;
 }
 .main-section-tittle h1 {
    font-size: 5rem;
    font-weight: bolder;
    padding-bottom: 10px;
 }
 .main-section-tittle h3 {
     font-size: 3rem;
     padding-bottom: 10px;
     color: var(--texto-black);
     font-weight: lighter;
 }
 .color-purple {
     color: var(--fuente-purple);
 }
 .main-section-container 
 .backgroundImg {
     width: 80rem;
     height: 15rem;
     margin: 0 auto;
     margin-bottom: 35px;
     border-radius: 5px;
     box-shadow: 3px 6px 9px 3px rgba(171,171,171,0.79);
    -webkit-box-shadow: 3px 6px 9px 3px rgba(171,171,171,0.79);
    -moz-box-shadow: 3px 6px 9px 3px rgba(171,171,171,0.79);
     background-image: url('./assets/imagenes/ms-mf-img.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     
 }
 .main-section-container 
 .button {
    margin-bottom: 5rem;
    padding: 15px;
    background-color: var(--button-purple-ligth);
    /*Sombras*/
    box-shadow: 4px 8px 9px 3px rgba(209, 195, 215, 0.762);
    -webkit-box-shadow: 4px 8px 9px 3px rgba(220,208,208,0.79);
    -moz-box-shadow: 4px 8px 9px 3px rgba(220,208,208,0.79);
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-button);
 }

 /*About Me*/
.container-section-aboutme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 100%;
    height: auto;
    text-align: left; 
}
.container-tittle {
    padding-top: 5rem;
    width: 60rem;
}
.container-tittle h2 {
    padding-bottom: 20px;
    font-size: 3rem;
}
.container-tittle p {
    font-size: 2rem;
    font-weight: lighter;
}
.container-section-aboutme .imgAboutMe {
    width: 30rem;
    height: 30rem;
    margin: 0 8rem;
    margin-bottom: 15px;
    border-radius: 10px;
    background-image: url('./assets/imagenes/martha-sinfondo.png');
    background-size: cover; 
    box-shadow: 3px 6px 9px 3px rgba(171,171,171,0.79);
    -webkit-box-shadow: 3px 6px 9px 3px rgba(171,171,171,0.79);
    -moz-box-shadow: 3px 6px 9px 3px rgba(171,171,171,0.79);

}

/*Sección Contacto*/
.section-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
    width: 100%;
    height: auto;
    text-align: left; 
}
.text-contact {
    padding-top: 5rem;
    width: 50rem;
}
 h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 3rem;
}
p {
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}
.container-form {
    margin-left: 10rem;
    margin-top: 50px;
}
.form-list {
    display: flex;
    flex-direction: column;
}
.form-list ul{
    list-style: none;
}
.form-list li {
    padding-bottom: 20px;
}
li input {
    padding-left: 10px;
    height: 35px;
    width: 400px;
    border: 1px solid #6C63FF;
    border-radius: 5px;
    font-size: 15px;
}
li textarea {
    padding-top: 10px;
    padding-left: 10px;
    height: 75px;
    width: 400px;
    border: 1px solid #6C63FF;
    border-radius: 5px; 
    font-size: 15px;
    font-family: sans-serif;
}
.button-enviar {
    margin-bottom: 3rem;
    padding: 10px;
    background-color: var(--button-purple-ligth);
    /*Sombras*/
    box-shadow: 4px 8px 9px 3px rgba(209, 195, 215, 0.762);
    -webkit-box-shadow: 4px 8px 9px 3px rgba(220,208,208,0.79);
    -moz-box-shadow: 4px 8px 9px 3px rgba(220,208,208,0.79);
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-button);
    width: 100px;
    height: 40px;
    align-self: end;
    text-align: center; 
}



/*Footer*/
footer {
    display: flex;
    width: 100vw;
    height: 9rem;
    background-color: var(--footer-grey);
    justify-content: space-between;
    align-items: center;
}
.container-icons {
    font-size: 2rem;
    display: flex;
    background-color: var(--footer-grey);
}
.logo-footer {
    margin-left: 50px;
    width: 5rem;
    height: 6rem; 
}
.icons li {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    list-style: none;
    display: inline-block;
}
.icons li a {
    color: var(--texto-black);
    display: block;
    text-decoration: none;    
}
.icons .github a {
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/github.png');
}
.icons .instagram a {
    width: 25px;
    height: 23px;
    background-image: url('./assets/icons/instagram.png');
}
.icons .linkedin a {
    width: 25px;
    height: 23px;
    background-image: url('./assets/icons/linkedin.png');
}

/*ESTILOS DE PAGINA HABILIDADES*/
.skills-section-container {
    width: 100%;
    height: 600px;   
}
.skills-main-container {
    width: 95%;
    height: -webkit-fill-available;
    margin-left: 35px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    box-shadow: 4px 8px 9px 3px rgba(209, 195, 215, 0.762);
    -webkit-box-shadow: 4px 8px 9px 3px rgb(189 178 253);
    -moz-box-shadow: 4px 8px 9px 3px rgba(220,208,208,0.79);
    border-radius: 50px;
}
.skill-container {
    margin-bottom: 100px;
    padding: 0 50px;
}
.skill-container h4 {
    text-align: center;
    font-size: 25px;
    color: #bdb2fd;
}

/*ESTILOS PAGINA PROYECTOS*/

.proyects-main-container {
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.proyect-container {
    margin-bottom: 100px;
    padding: 0 50px;
}
.proyect-container h4 {
    text-align: center;
    font-size: 25px;
    color: #bdb2fd;
}
.proyects-main-container {
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.proyect-container {
    margin-bottom: 100px;
    padding: 0 50px;
}
.proyect-container h4 {
    text-align: center;
    font-size: 25px;
    color: var(--button-purple-ligth);
}
.proyect-section-tittle {
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--fuente-purple);
}